<a href="https://colab.research.google.com/github/Karmjit-Singh-CPE/58002-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*FOR LOOP*

In [14]:
week = ["Sunday","Monday","Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

*FOR THROUGH STRING*

In [ ]:
for x in "week":

*FOR LOOP USING BREAK STATEMENT*

In [15]:
for x in week:
 print(x)
 if x=="Thursday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [13]:
for x in week:
 if x=="Thursday":
   break
 print(x)

Sunday
Monday
Tuesday
Wednesday

***RANGE FUNCTION***

In [22]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [23]:
for x in range(2, 6):
    print(x)

2
3
4
5

***NESTED LOOPS***

In [25]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
 for y in fruits:
  print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

***PYTHON WHILE LOOPS***

In [27]:
i = 1
while i < 6:
 print(i)
 i += 1 #i = i+1 Assignment operator

1
2
3
4
5

*while loop using break*

In [29]:
i = 1
while i < 6:
 print(i)
 if i == 3:
  break
 i += 1

1
2
3

In [33]:
for y in range(11):
    print("Hello", y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

application #2

In [32]:
for y in range(3, 10):
    print(y)

3
4
5
6
7
8
9